# Visual Studio cache
.vs/

# Build output for all projects
**/bin/
**/obj/
**/Debug/
**/Release/

# User-specific files
*.user
*.suo

# Logs
**/Logs/
*.log

# Temporary files
*.cache
*.pdb
*.dll
*.exe
