# Visual Studio cache and settings
.vs/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/

# Logs and temporary files
*.log
*.cache
*.tmp

# NuGet packages
packages/
*.nupkg

# Other common files
*.dbmdl
*.bak
*.swp
